# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next
out
build
dist

# Production
*.log

# Misc
.DS_Store
*.pem

# Environment
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
